# IDE & Toolchain
.idea/
.task/
xcuserdata/

# Precompiler
Precompiled.swift

# Distribution
dest/

# Google Services
Cider/GoogleService-Info.plist
CiderUpdateService/GoogleService-Info.plist

# Environment
.env

# macOS
.DS_Store
