:root {
  color-scheme: light dark;
}

* {
  background-color: transparent;
}

body {
  height: fit-content;
  overflow-y: hidden;
}

body p {
  margin: 0 20px;
  font-size: 12px;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  cursor: default;
}

@media (prefers-color-scheme: dark) {
  body p {
    color: white;
  }
}
